
:root{
    --bg-primary:rgb(151, 151, 231);
}
.nav-item{
    font-size:20px;
    font-weight: 700;
    font-family: Poppins;
}
.Frame17{
    width:70%;
    justify-content:center;
    margin:auto;
}
.Search-button{
    width:150px;
}
.location-text h1 p{
     
    margin-left:10px;
}
.pickup-text h1 p{
     margin-left:10px;
}
.return-text h1 p{
     margin-left:10px;
}
.choose-location2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-your-car2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pick-up-date2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-location2 p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.book-your-car-text p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pick-up-date2 p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choose-location2 h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-your-car-text h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pick-up-date2 h1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-location2 h1{
margin-top: 10px;
}
.choose-location2 p{
margin-top: 10px;
}
.book-your-car-text h1{
margin-top: 10px;
}
.book-your-car-text p{
margin-top: 10px;
}
.pick-up-date2 h1{
margin-top: 10px;
}
.pick-up-date2p{
margin-top: 10px;
}
