body{
    margin: 0%;
    padding: 0%;
}
:root{
    --bg-primary:rgb(151, 151, 231);
}
.nav-item{
    font-size:20px;
    overflow-x: hidden;
}
:root{
    --bg-primary:rgb(151, 151, 231);
}
.nav-item{
    font-size:20px;
    font-weight: 700;
    font-family: Poppins;
}
.container{
    box-shadow: 0px 6px 12px 0px #135EAC1F;
    background-color: #ACACAC ;

}
@media screen and (max-width:480px){
    .Rent-section,.card-section{
        margin:auto;
    }
    .navbar{
        width:1000px;
    }
    
}

@media (max-width: 767px) {
    .navbar-nav {
        justify-content: center ;
    }  
    .navbar .d-flex.gap-3 {
        justify-content: center ;
        margin-top: 10px;
    }
    .hero-text, .hero-image, section .row {
        justify-content: center ;
        text-align: center ;
    }

    .col-md-4 {
        justify-content: center ;
        text-align: center ;
    }
    .Audi-container{
        margin-left: 100px;
    }

    section.text-center .row > div {
        justify-content: center ;
        text-align: center ;
        flex-direction: column ;
        align-items: center ;
    }

    .col-md-3 {
        margin-left: auto ;
        margin-right: auto ;
    }
    .col-lg-6 {
        margin-left: auto ;
        margin-right: auto ;
        text-align: center ;
        justify-content: center ;
    }
    .Testimonial {
        width: 50% ;
    }
}

.Search-button{
    width:150px;
}
.review-section{
    margin-left:10px;
}

